:root {
    --primary-color: #F4F3EE;
    --secondary-color: #19381F;
    --accent1-color: #B38A58;
    --accent2-color: #7392B7;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

header img {
    height: 15rem;
    width: auto;
    padding: 1rem;
    grid-column: 1 / 2;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a{
    padding: 0.75rem;
    border: 1px solid black;
    margin: 0;
    width: 13rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

main {
    max-width: 1500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--accent1-color);
}

p {
    font-family: 'Archivo', sans-serif;
    color: var(--secondary-color);
}

ul {
    font-family: 'Archivo', sans-serif;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    color: var(--primary-color);
    background-color: #19381FCC;
    top: 50%;
    width: 97.5%;
    text-align: center;
    font-size: 8rem;
    padding: 10px;
}

.hero article {
    position: absolute;
    background-color: #F4F3EECC;
    top: 100%;
    width: 85%;
    left: 6%;
    padding: 20px;
    color: var(--secondary-color);
    font-size: 1rem;
}

.hero article img {
    float: right;
    width: 40%;
}   

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 6;
}

.history img {
    width: 10rem;
    height: auto;
    margin: 20px
}

.contrast {
    display: grid;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.contrast h2 {
    color: var(--primary-color);
    grid-column: 1 / 6;
    justify-self: center;
}

.contrast figure{
    color: var(--primary-color);

}

.contrast img{
    grid-column: auto;
    height: 9rem;
    width: auto;
}

h2 {
    font-size: 2rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.sociallinks{
    display: flex;
    margin-left: auto;
}

.footer img {
    display: flex;
    width: 40px;
    height: auto;
    padding: 0.25rem;
}

