:root {
    --primary-color: #F4F3EE;
    --secondary-color: #19381F;
    --accent1-color: #B38A58;
    --accent2-color: #7392B7;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

header img {
    height: 15rem;
    width: auto;
    padding: 1rem;
    grid-column: 1 / 2;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a{
    padding: 0.75rem;
    border: 1px solid black;
    margin: 0;
    width: 13rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

main {
    max-width: 1500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--accent1-color);
}

p, form, nav, figcaption {
    font-family: 'Archivo', sans-serif;
    color: var(--secondary-color);
}

ul {
    font-family: 'Archivo', sans-serif;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    color: var(--primary-color);
    background-color: #19381FCC;
    top: 1rem;
    text-align: center;
    padding: 10px;
    left: 0;
    right: 0;
}

.hero article {
    position: absolute;
    background-color: #F4F3EECC;
    top: 7rem;
    left: 1rem;
    right: 1rem;
    padding: 10px;
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 200px;
}   

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 6;
}

.history img {
    width: 10rem;
    height: auto;
    margin: 20px
}

.contrast {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px;
    justify-items: center;
    align-items: center;
}

.contrast h2 {
    color: var(--primary-color);
    text-align: center;
    flex-basis: 100%;
}

.contrast figure{
    color: var(--primary-color);
}

.contrast figcaption {
    color: var(--primary-color);
    text-align: center;
}

.contrast img{
    display: flex;
    justify-content: space-around;
    height: 9rem;
    width: auto;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    background-color: var(--secondary-color);
}

.contact article {
    grid-column: 1 / 2;
}

.contact article h1 {
    color: var(--primary-color);
}

.contact article p {
    color: var(--primary-color);
}

iframe {
    grid-column: 2 / 3;
    height: 20rem;
    width: 40rem;
    justify-items: center;
    padding: 1rem;
    border: 0;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.team h1{
    grid-column: 1 / 6;
}

.team img {
    width: 20rem;
    grid-column: auto;
}

.chat p {
    color: var(--primary-color);
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
    color: var(--primary-color);
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;

}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    width: 200px;
    justify-self: center;
}

button:hover {
    text-decoration: underline;
}

.chat h1 {
    text-align: center;
    color: var(--secondary-color)
}

.checkbox {
    display: flex;
    justify-content: center;
}

textarea {
    width: 580px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.sociallinks{
    display: flex;
    margin-left: auto;
}

.footer img {
    display: flex;
    width: 40px;
    height: auto;
    padding: 0.25rem;
}

